*{
    text-align: center;
}
header{
    font-size:1.2rem;
    font-weight: 700;
    width: 20%;
}

ul{
    list-style: none;
    display: flex;
    gap: 3em;
    justify-content: end;
    margin-top: -10px;   
}
.center{
    width: 70%;
    margin: 0 auto;
}

.hero{
    margin-top: 50px;
    display: flex;
    gap: 8em;
}
.image img{
    border-radius: 2em;
}

.container{
    margin-left: 80px;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    flex-direction: row;
}
.feature{
    width: 250px;
    height: 150px;
    border-radius: 1em;
    background: rgba(7, 213, 76, 0.715);
    padding: 0.7em;
}

a{
    text-decoration: none;
    color: black;
    background:rgba(7,213,76, 0.715);
    padding: 0.5em;
    border-radius: 5px;
}
a:hover{
    font-size: 1.05em;
}
footer{
    text-align: center;
}
.two h2{
    font-size: 2rem;
}
h1{
    font-size: 2.2rem;
    font-weight: 800;
}